# Data Science Tools and Ecosystem

### This notebook is about notions on Data Science Tools and Ecosystem.

#### **Objectives:**
- Main Languages on Data Science
- More used Libraries Tools
- Main powerfull development environments

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++
5. Java
6. Scala
7. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. Keras
6. TensorFlow
7. PyTorch

| Data Science Tools |
| ------------------ |
| JupyterLab |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200 // 60

3

## Author
Jos√© Renato Nunes Barros